{% extends 'layout.html.twig' %}

{% block content %}
    <!--<section class="login">-->
        <div class="place_login_form">
            <div id="error-block-login"></div>
            <div id="success-block-login"></div>
            <form class="position_form_login" action="?action=login" name="login-form" method="POST">
                Identifiant : <input type="text" name="username"><br>
                Mot de passe : <input type="password" name="password"><br>
                <input type="submit" value="Se connecter">
            </form>
        </div>
    <!--</section>-->

{% endblock %}
